@import 'libs/bootstrap-reboot.min';

@import 'base/variables';
@import 'base/fonts';

* {
	font-family: Montserrat;
	font-weight: 400;
	line-height: normal;
}

.conteiner {
	width: 1400px;
	margin: 0 auto;
}

@import 'blocks/header';
@import 'blocks/mob-menu';
@import 'blocks/button';
@import 'blocks/promo';
@import 'blocks/title';
@import 'blocks/advantages';
@import 'blocks/types';
@import 'blocks/cities';
@import 'blocks/services';
@import 'blocks/cta';
@import 'blocks/steps';
@import 'blocks/text';
@import 'blocks/contacts';
@import 'blocks/posts';
@import 'blocks/price';
@import 'blocks/footer';
@import 'blocks/modal';

@import 'base/media';