.advantages {
	padding-top: 100px;
	width: 100%;
	min-height: 400px;
	background-color: #fff;

	&__wrapper {
		background: $main-gradient;
		width: 100%;
		min-height: 300px;
		padding: 50px 30px;
		border-radius: 40px;
	}

	&__items {
		margin-top: 30px;
		display: grid;
		grid-template: minmax(150px, auto) / repeat(4, 1fr);
		grid-auto-rows: minmax(150px, auto);
		gap: 30px;
	}

	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__icon {
		margin-bottom: 20px;
		svg {
			width: auto;
			height: 60px;
			
		}
		
	}

	&__descr {
		margin-top: 10px;
		text-align: center;
		color: $title-color;
		font-size: 18px;
		line-height: 27px;
		font-weight: 400;
	}
}