.button {
	min-width: 60px;
	height: 36px;
	padding: 10px 15px;
	background: $main-gradient;
	border: none;
	border-radius: 19px;
	text-align: center;
	color: $title-color;
	font-size: 16px;
	line-height: 16px;
	font-weight: 600;
	text-transform: uppercase;
	&__link {
		text-decoration: none;
		&:hover {
			color: #fff;
		}
	}

	&_center {
		display: block;
		margin: 0 auto;
	}

	&_h55 {
		height: 55px;
		border-radius: 28px;
		font-size: 18px;
	}

	&_mt40 {
		margin-top: 40px;
	}
}