.footer {
	padding-top: 60px;
	padding-bottom: 20px;
	width: 100%;
	min-height: 300px;
	background: #353535;

	&__wrapper {
		display: grid;
		grid-template-columns: repeat(2, 0.5fr) repeat(2, 1fr);
		grid-auto-rows: auto;
		gap: 30px;

	}

	&__column {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.column4 {
		align-items: start;
	}
	
	&__logo {
		width: 90px;
		height: 90px;
	}

	&__descr {
		margin-top: 20px;
		text-align: center;
		color: $title-color;
		font-size: 16px;
		line-height: 24px;
		font-weight: 600;
	}

	&__menu {
		padding: 0;
		list-style-type: none;
		li {
			margin-bottom: 10px;
		}
	}

	&__link {
		display: flex;
		align-items: center;
		margin-bottom: 20px;
		font-size: 20px;
		font-weight: 700;
		line-height: 30px;
		color: $title-color;
		text-decoration: none;
		transition: 0.75s;
		&:hover {
			color: $title-color;
			transform: scale(1.05);
		}

		&:nth-last-child(1) {
			margin-bottom: 0;
		}

		span {
			font-weight: 700;
			line-height: 30px;
			color: $title-color;
			text-decoration: none;
		}
	}

	&__icon {
		width: 25px;
		height: 25px;
		margin-right: 20px;

	}

	&__dev {
		margin-top: 20px;
		display: flex;
		justify-content: center;
		.liryck {
			color: $title-color;
			font-size: 14px;
			font-weight: 600;
			text-decoration: none;
			text-align: center;
	
			&:hover {
				color: $title-color;
			}
		}
	}
}