.pop-up {
	display: none;
	align-items: center;
	position: fixed;
	left: 0;
	top: 90px;
	z-index: 8;
	padding: 7px 0;
	background: $main-gradient;
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.30);
	min-height: 50px;
	width: 100%;
	transition: all 0.5s;

	.active {
		display: flex;
	}
	

	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__text, &__link, span {
		font-size: 20px;
		font-weight: 500;
		color: $title-color;
		text-decoration: none;
	}

	&__link {
		margin-left: 20px;

		&:hover {
			color: $title-color;
		}
	}

	&__close {
		position: absolute;
		top: 11px;
		right: 50px;
		font-size: 30px;
		font-weight: 500;
		line-height: 30px;
		color: $title-color;
		cursor: pointer;
	}
}