.promo {
	width: 100%;
	height: calc(100vh - 90px);
	margin-top: 90px;
	
	&_kardan-bg {
		background: url(../../img/main-bg/main_bg-remont-cardan.webp) center center/cover no-repeat;
	}

	&_diagnostyka-bg {
		background: url(../../img/main-bg/diagnostyka-kardana-avtorevers.webp) center center/cover no-repeat;
	}

	&_balans-bg {
		background: url(../../img/main-bg/balansuvannya-kardana-avtorevers.webp) center center/cover no-repeat;
	}

	&_pidshipnyk-bg {
		background: url(../../img/main-bg/zamina-pidshipnyka-kardana-avtorevers.webp) center center/cover no-repeat;
	}

	&_shrus-bg {
		background: url(../../img/main-bg/zamina-shrusa-kardana-avtorevers.webp) center center/cover no-repeat;
	}

	&_vygotovlennya-bg {
		background: url(../../img/main-bg/vygotovlennya-kardana-avtorevers.webp) center center/cover no-repeat;
	}

	&_shliceva-bg {
		background: url(../../img/main-bg/shliceva-kardana-avtorevers-avtorevers.webp) center center/cover no-repeat;
	}

	&_rul-bg {
		background: url(../../img/main-bg/remont-rulyovyi-val-avtorevers.webp) center center/cover no-repeat;
	}

	&_zamina-val-bg {
		background: url(../../img/main-bg/zamina-rulyovyi-val-avtorevers.webp) center center/cover no-repeat;
	}

	&_hrest-rul-bg {
		background: url(../../img/main-bg/zamina-hrestovyny-rulyovogo-vala-avtorevers.webp) center center/cover no-repeat;
	}

	&_zamina-kardan-bg {
		background: url(../../img/main-bg/zamina-kardana-avtorevers.webp) center center/cover no-repeat;
	}

	&_ustanovka-kardan-bg {
		background: url(../../img/main-bg/znyattya-ustanovka-kardana-avtorevers.webp) center center/cover no-repeat;
	}

	&__wrapper {
		height: calc(100vh - 90px);
		width: 100%;
		display: grid;
		grid-template: auto / repeat(2, 1fr);
		grid-auto-rows: auto;
		align-items: center;
	}

	&__left {
		display: flex;
		justify-content: center;
	}
	
	&__img {
		width: 80%;
		height: auto;
	}

	&__right {
		display: block;
	}

	&__title {
		margin-bottom: 20px;
		font-size: 30px;
		font-weight: 500;
		color: #fff;
	}

	&__icon {
		width: 36px;
		height: 36px;
		margin-right: 10px;
		svg {
			width: 100%;
			height: 100%;
		}
	}

	&__link {
		display: flex;
		align-items: center;
		// margin-top: 5px;
		font-size: 30px;
		line-height: 40px;
		font-weight: 700;
		color: $title-color;
		text-decoration: none;
		transition: 0.75s;
		&:hover {
			color: $title-color;
			transform: scale(1.05);
		}
		&:nth-child(2) {
			margin-top: 15px;
		}
	}

	&__descr {
		margin: 15px 0;
		color: $title-color;
		font-size: 24px;
		line-height: 36px;
		font-weight: 500;
		&-list {
			li {
				color: $title-color;
				font-size: 24px;
				line-height: 36px;
				font-weight: 500;
			}
			
		}
	}
}