.services {
	padding: $section-padding;
	width: 100%;
	min-height: 500px;
	background: #fff;

	&__wrapper {
		margin-top: 30px;
		display: grid;
		grid-template: minmax(250px, auto) / repeat(4, 1fr);
		grid-auto-rows: minmax(250px, auto);
		gap: 30px;
	}

	&__item {
		width: 100%;
		min-height: 250px;
		padding: 20px;
		display: flex;
		flex-direction: column;
		align-items: center;
		border-radius: 20px;
		background: #ffffff;
		box-shadow:  0 7px 14px #cfcdcd;
		border: 2px solid $first-color;
	}

	&__img {
		width: 100%;
		height: auto;
		margin-bottom: 15px;
	}

	&__price {
		margin: 15px 0;
		text-align: center;
		font-size: 20px;
		font-weight: 400;
		color: $text-color;
	}
}